fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
boto3
python-socketio
reportlab
qrcode[pil]
pandas
openpyxl
pytest
httpx
pydantic-settings
pydantic[email]
email-validator
cloudinary